{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body ">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus modi iste laborum? Non aliquid repellendus,
            totam rerum magnam ullam magni, ad provident deserunt placeat quaerat cupiditate, omnis ab ut quisquam.
            Cupiditate, suscipit. Molestiae eligendi officiis quibusdam at! Architecto beatae vitae suscipit alias
            fugit, ratione nobis blanditiis modi minus, hic debitis omnis voluptatem distinctio odio repellendus
            officiis nemo? Sunt, dolorem sint!
            Non voluptatibus debitis qui iste id quae architecto cum delectus ea. Vel neque sequi nemo unde eligendi
            repellendus corrupti necessitatibus facilis quidem non ab error, sed repudiandae! Voluptatem, possimus
            consectetur?
            Assumenda suscipit a enim praesentium itaque? Ullam ut quae alias nemo eligendi neque aspernatur error
            incidunt sequi, rerum odit sunt dignissimos ex officiis labore cum, temporibus provident possimus iure
            praesentium?
            Ex ipsam cum ducimus, voluptatem iste dolores eaque quis, eveniet beatae commodi earum harum voluptas
            tempora? Recusandae, et neque provident consequatur quos, vitae qui dignissimos itaque voluptate ex, ipsam
            dolorum.
            Dignissimos, totam doloremque? Veritatis molestiae quasi repellat omnis quos quis ab eius laborum quisquam
            vel et impedit minima recusandae iste tempora, repudiandae pariatur, odio harum aut odit id laudantium
            expedita.
            Eius illo autem, commodi odit alias quis quos nihil id voluptas consequatur provident deleniti cumque
            impedit, sed sequi cupiditate quae quam quibusdam. Earum consequatur incidunt assumenda doloribus, nam
            laudantium voluptates.
            Neque et veniam in tenetur explicabo vero, molestias qui, odit facere eveniet sunt iure, ipsa minus
            reprehenderit labore consequuntur sit numquam incidunt omnis debitis magnam nostrum tempore sequi minima?
            Recusandae.
            Molestiae, blanditiis? Atque aut libero beatae quibusdam consequatur debitis voluptatem expedita accusantium
            alias architecto, nulla mollitia, similique vitae earum quasi. Eum explicabo neque, architecto debitis
            deleniti quas obcaecati minima ex.
            Voluptatibus laboriosam aliquam fugiat eius sapiente, vero blanditiis temporibus quod quos eaque nobis odio
            natus! Unde, fugit aliquid odio velit, esse ratione pariatur sunt voluptate consequuntur magni officia
            laboriosam earum.</p>
        
        <div class="text-center">
            <a href="/signin/" class="btn btn-secondary ">Sgnin</a>
            <a href="/signup/" class="btn btn-dark">Signup</a>
        </div>

    </section>
</main>


{% endblock %}